
@media screen and (max-width: 900px) {
    #Pic2{
        display: none;
    }
    #genre2{
        display: none;
    }
}

body {
    font-family: arial;
    text-align: center;
    color: black;
    background: linear-gradient(70deg, #725EE0, #DD5CF7);
}




main {
    font-size: 15px;
    font-weight: 1.1;
    line-height: 1.1;
}

.header {
    backgroud-color: #E9967A;
    font-size: 20px;
    display: inline-block;
    margin-left: 0;
}

.header-item {
    display: inline-block;
    float: left;
    margin: 2vw;
}

#icon {
    margin-top: 6vw;
}

#cart {
    margin-top: 6vw;
}

#for_grid {
    display: grid;
    grid-template-rows: 30px 30px ;
    grid-template-columns: 30px 30px;
    grid-gap: 1vw;
}
#grid > img {
    font-size: 5vw;
    text-align: center;
}

.genre {
    margin-left: 0;
    text-decoration: underline;

}


.Pictures {
    margin-left: 0;
    box-shadow: black;
    overflow: hidden;
    max-height: 260px;

}

.info-links {
    margin-top: 3%;
    margin-left: 45vw;
}

.info-link-item {
    margin-left: 1%;
}
.Picture {
    margin: 1vw;
    transition: all 0.3s ease;
    border: black 5px;
    width: 180px;
    height: 240px;


}
.Picture:hover{

    box-shadow:
            1px 1px #000000,
            2px 2px #000000,
            3px 3px #000000,
            4px 4px #000000,
            5px 5px #000000;
    -webkit-transform: translateX(-5px);
    transform: translateX(-7px);

}



